app:
  # Should be the same as backend.baseUrl when using the `app-backend` plugin
  baseUrl: http://localhost:7007

backend:
  baseUrl: http://localhost:7007
  listen:
    port: 7007

# config options: https://node-postgres.com/api/client
database:
  client: pg
  connection:
    host: ${POSTGRES_HOST}
    port: ${POSTGRES_PORT}
    user: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
    # https://node-postgres.com/features/ssl
    # you can set the sslmode configuration option via the `PGSSLMODE` environment variable
    # see https://www.postgresql.org/docs/current/libpq-ssl.html Table 33.1. SSL Mode Descriptions (e.g. require)
    # ssl:
    #   ca: # if you have a CA file and want to verify it you can uncomment this section
    #     $file: <file-path>/ca/server.crt
